@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
.btn-join-now{
    background-color:#E6533C;
    color: #ffffff;
    padding: 10px 20px;
            font-size: 16px;
            color: white;
            /* background-color: #ff5733; Change to desired color */
            border: none;
            border-radius: 50px;
            cursor: pointer;
            text-align: center;
            display: inline-block;
            transition: background-color 0.3s;
            
}
.btn-down-app{
    background-color: #111111;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s;
}


.text-gray{
    color:#ffffff;
}
/* fitness */
.text-gray1{
    color:#E6533C;
}


.text-light-gray{
    color:#ffffff;
    
}
.bg-light{
    background-color:#111111;
}



/* header styles */

/* navbar related styles */
.munna-parena{
    margin-left: 100px;
    margin-right: 100px;
    max-width: 1440px;
}
.munna-sudu-gumai{
    border: 10px solid tomato;
    border-radius: 1px;
}
.navbar{
    justify-content: space-between;
    
   
}
.brand {
    /* font-size: 600; */
    /* position: static; */
    font-weight: 700;
    font-size: 3rem;

    
}

.nav-item{
    list-style: none;
    margin-right: 20px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}
#home{
    border: 3px solid tomato;
    border-radius: 10px;
    background-color: tomato;
}

.body{
    background-color: #111111;
}

.banner-title{
    color: #ffffff;
    /* width: 520px; height: 282px; */
    /* align-items: center; */
}
.banner-description{
    color: #ffffff;
    display: block;
    max-width: 480px;
    
}

/* banner related styles */
.banner-content{
    max-width: 520px;
    margin: 0 auto;

}
.styled-shape{
    font-style: italic;
    font-family: initial;
    font-size: 1.2em;
}
.banner{
    margin-right: 350px;
}
/* image */
.image-hero1{
    max-width: 100%;
    height: auto;
}